.dnd{
    display: grid;
    background-color: #2C3333;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill,300px);
    gap: .5rem;
    z-index:1;
}
.group-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
}
.group{
    border-radius: 7px;
    background-color:#395B64;
    max-width: 400px;
    margin-top: 4px;
    padding: 3px;
    z-index:2;
}
.item{
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-color: #E7F6F2;
    justify-content: center;
    z-index: 100;
    
}

.item:not(:last-of-type){
    margin-bottom: 5rem;
}
.item:hover{
cursor:grab;
}

.current-dnd-item{
    background-color: #526D82;
    color: #526D82;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}